.container{
    width: 750px;
    height: 480px;
    background-color: #fff;
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.sideBar{
    width: 220px;
    height: 460px;
    /* border: 1px solid black; */
    border-radius: 15px;
    background-image: url("../../assets/bg-sidebar-desktop.jpg");
    background-position: center;
    background-repeat: none;
    background-size: cover;
    padding: 15px 10px
}

.divContainer{
    /* border: 1px solid white; */
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step{
    border: 1px solid white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.stepInfo{
    /* border: 1px solid blue; */
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 8px;

}


.divForm{
    width: 500px;
    height: 460px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    padding-top: 15px;
}


/* MEDIA QUERIES 371-767px*/
@media (min-width: 371px) and (max-width: 767px){
    .container{
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        padding: 0;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .sideBar{
        width: 100%;
        height: 25%;
        border-radius: 0;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .divContainer{
        width: fit-content;
    }

    .step{
        width: 40px;
        height: 40px;
        font-size: medium;
    }

    .stepInfo{
        display: none;
    }

    .divForm{
        width: 80%;
        height: 50%;
        border: 1px solid black;
        border-radius: 15px;
        position: relative;
        bottom: 60px;
        background-color: #fff;
    }
}