.container{
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.info{
    width: 100%;
    height: 100px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 70px;
    justify-content: start;
}

.title{
    color: #03295a;
    font-size: 27px;
    font-family: url("../../assets/fonts/Ubuntu-Bold.ttf");
    font-weight: bolder;
    margin: 0;
}

.titleDesc{
    color: gray;
    font-size: 13px;
    margin: 0;
}


.summary{
    /* border: 1px solid blue; */
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.sumContainer{
    /* border: 2px solid black; */
    border-radius: 10px;
    width: 75%;
    height: 135px;
    background-color: #f8f9fe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divUp{
    /* border: 1px solid black; */
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

.line{
    width: 80%;
    height: 0;
    border: 1px solid rgb(229 231 235);
}

.divDown{
    /* border: 1px solid red; */
    width: 100%;
    height: 50%;
    padding-top: 12px;
}

.total{
    /* border: 2px solid green; */
    width: 75%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 20px;
}

.divButtons{
    /* border: 1px solid purple; */
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 70px;
    padding-bottom: 40px;
    padding-top: 30px;
}

.nextButton{
    width: 95px;
    height: 40px;
    background-color: #483efe;
    font-size: 13px;
    font-family: Ubuntu;
    transition: .2s;
    &:hover{
        background-color: #938cfe;
        transition: .3s;
    }
    
}

.back{
    font-size: 15px;
    color: gray;
    padding-left: 70px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
    &:hover{
        color: #03295a;
        transition: .3s;
    }
}

/* MEDIA QUERIES 371-767px*/
@media (min-width: 371px) and (max-width: 767px){
    .info{
        padding: 10px 20px;
        gap: 5px
    }

    .title{
        font-size: 22px;
    }

    .titleDesc{
        font-size: 15px;
        text-align: start;
        color: rgb(158, 158, 158);

    }

    .divButtons{
        /* border: 1px solid blue; */
        position: relative;
        right: 15%;
        top: 55%;
        width: 110vw;
        border: none;
        background-color: #fff;
    }

    .sumContainer{
       margin-top: 10px;
    }
}