.container{
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.info{
    width: 100%;
    height: 100px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 70px;
    justify-content: start;
}

.title{
    color: #03295a;
    font-size: 27px;
    font-family: url("../../assets/fonts/Ubuntu-Bold.ttf");
    font-weight: bolder;
    margin: 0;
}

.titleDesc{
    color: gray;
    font-size: 13px;
    margin: 0;
}

.divPlans{
    width: 100%;
    height: 250px;
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-evenly;
    padding-left: 70px;
    padding-right: 70px;
    gap: 10px;
}

.plan{
    width: 150px;
    height: 125px;
    border: 1px solid rgba(128, 128, 128, 0.468);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 0 5px 7px;
    justify-content: space-between;
    cursor: pointer;
    
    &:hover{
        border: 2px solid #03295a;
        
    }
}

.selectedPlan{
    background-color: #f8f9fe;
    border: 2px solid #03295a;
}

.planInfo{
    /* border: 1px solid black; */
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}

.planInfo h3{
    font-size: 14px;
    color: #03295a;
    font-weight: 700;
}

.planInfo p{
    text-align: start;
    font-size: 10px;
    color: gray;
}

.divToggle{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 80px;
    
}

.togglebg{
    width: 80%;
    background-color: #f1f5f9;
    display: flex;
    justify-content: center;
    padding: 4px 0;
    border-radius: 6px;
}

.back{
    font-size: 15px;
    color: gray;
    padding-left: 70px;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
    &:hover{
        color: #03295a;
        transition: .3s;
    }
}

.divButtons{
    /* border: 1px solid purple; */
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 70px;
    padding-bottom: 40px;
    padding-top: 30px;
}

.nextButton{
    width: 95px;
    height: 40px;
    background-color: #03295a;
    font-size: 13px;
    font-family: Ubuntu;
    transition: .2s;
    &:hover{
        background-color: #174a8a;
        transition: .3s;
    }
    
}

/* MEDIA QUERIES 371-767px*/
@media (min-width: 371px) and (max-width: 767px){

    .info{
        padding: 10px 20px;
        gap: 5px
    }

    .title{
        font-size: 22px;
    }

    .titleDesc{
        font-size: 15px;
        text-align: start;
        color: rgb(158, 158, 158);

    }

    .divPlans{
        height: fit-content;
        /* border: 1px solid black; */
        justify-content: center;
        align-items: center;
        padding: 5px 20px;
        flex-direction: column;
    }

    .plan{
        height: 60px;
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding-left: 10px;
    }

    .plan img{
        width: 20px;
        height: 20px;
    }

    .divToggle{
        bottom: 0;
        padding-top: 5px;
    }


    .divButtons{
        /* border: 1px solid blue; */
        position: relative;
        right: 15%;
        top: 56%;
        width: 110vw;
        border: none;
        background-color: #fff;
    }

    
}

@media (min-height: 650px) and (max-height: 790px){
    .divButtons{
        top: 16%;
    }
}