.container{
    width: 100%;
    height: 100%;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.info{
    width: 100%;
    height: 100px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 70px;
    justify-content: start;
}

.title{
    color: #03295a;
    font-size: 30px;
    font-family: url("../../assets/fonts/Ubuntu-Bold.ttf");
    font-weight: bolder;
    margin: 0;
}

.titleDesc{
    color: gray;
    font-size: 15px;
    margin: 0;
}

.divPlans{
    width: 100%;
    height: 250px;
    border: 2px solid green;
    display: flex;
    justify-content: space-evenly;
    padding-left: 70px;
    padding-right: 70px;
    gap: 10px;
}

.plan{
    width: 150px;
    height: 125px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px 0 5px 7px;
    justify-content: space-between;
}

.planInfo{
    border: 1px solid black;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}

.planInfo h3{
    font-size: 14px;
    color: #03295a;
    font-weight: 700;
}

.planInfo p{
    text-align: start;
    font-size: 10px;
    color: gray;
}

.divToggle{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.back{
    font-size: 15px;
    color: gray;
    padding-left: 70px;
    font-weight: 400;
    cursor: pointer;
}

.divButtons{
    border: 1px solid purple;
    width: 100%;
    height: 110px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-right: 70px;
    padding-bottom: 40px;
}

.nextButton{
    width: 95px;
    height: 40px;
    background-color: #03295a;
    font-size: 12px;
    font-family: Ubuntu;
    transition: .2s;
    &:hover{
        transform: scale(0.98);
        transition: .3s;
    }
    
}