#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* MEDIA QUERIES 371px*/
@media (min-width: 371px) and (max-width: 767px){
  #root{
    margin: 0;
    padding: 0;
  }
}